* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }body{
    padding: 0;
    margin: 0;
    background-color:#489255;
    background-image: url(/REPONIJOWEL/ASSETS/imgFolder/schoolppp.png);
    background-size: 210vh;
    background-repeat: no-repeat;
}
.logo{
    margin: -7rem;
    width: 50vh;
    aspect-ratio: 1;
    padding-bottom:1.5rem;
}
.flex{
    display: flex;
    align-items: center;
    gap: var(--2, 2rem);
}
.primaryNavigation{
    --gap: 1rem;
    text-decoration: none; 
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.primary-header{
    align-items: center;
    height: 3rem;
    justify-content: space-between;
    background-color:#4caf4f;
    backdrop-filter: blur(6px);
    height: 70px;
}
.primaryNavigation a {
    color: #F5F5DC;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
    padding-right: 10px;
    font-weight: bold;
}
.primaryNavigation li :hover{
    background-color: #f5f5dca9;
    }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    background-size: 100rem;
}
.maincontent{
    color: #F5F5DC;
    width: 60rem;
    height: 20rem;
    background-color: #4caf4f56;
    padding:3rem;
    
}

p, h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    gap: 8rem;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons button {
    margin: 10px;
    padding: 10px ;
    border: none;
    width: 250px;
    height: 40px;
    background: #4CAF50;
    color: #F5F5DC;
    cursor: pointer;
    border-radius:50rem;
}
.buttons button:hover {
    background-color: wheat;
  }
