<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Southern Philippines Institute of Science & Technology</title>
  <link rel="icon" type="image/png" href="/REPONIJOWEL/ASSETS/imgFolder/school-logo-large.png" />
  <link rel="stylesheet" href="/REPONIJOWEL/ASSETS/cssFolder/login4.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <img src="/REPONIJOWEL/ASSETS/imgFolder/schoolppp.png" alt="SPIST Building" class="background-img"> <!-- Give a class -->
      <div class="overlay">
        <img src="/REPONIJOWEL/ASSETS/imgFolder/school-logo-large.png" alt="SPIST Logo" class="logo"> <!-- Keep logo separate -->
        <h1>Southern Philippines Institute<br>of Science & Technology <br>Library</h1>
      </div>
    </div>
    <div class="right-panel">
      <div class="right-panel-content">
        <div class="header-wrapper">
          <hr class="small-line">
          <h2>SPIST LIBRARY</h2>
        </div>
        <form>
            <input type="name" placeholder="Name" required>
            <input type="student" placeholder="Student ID" required>
            <input type="course" placeholder="Course & Year" required>
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Password" required>
          <div class="options">
            <label><input type="checkbox"> Show Password</label>
        
          </div>
          <button type="submit">Create An Account</button>
          <div class="optionss">
            <a href="/REPONIJOWEL/components/modals/login1.html" class="signup">
               Already Have An Account?
            </a>
          </div>
        </form>
        <div class="socials">
          <a href="#"><img src="/REPONIJOWEL/ASSETS/imgFolder/gmaili.png" alt="Gmail"/></a>
          <a href="#"><img src="/REPONIJOWEL/ASSETS/imgFolder/facebookicon.png" alt="Facebook"/></a>
          <a href="#"><img src="/REPONIJOWEL/ASSETS/imgFolder/igicon.png" alt="Instagram"/></a>
        </div>
      </div>
    </div>
</body>
</html>