<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Southern Philippines Institute of Science & Technology</title>
  <link rel="icon" type="image/png" href="/REPONIJOWEL/ASSETS/imgFolder/school-logo-large.png" />
  <link rel="stylesheet" href="/REPONIJOWEL/ASSETS/cssFolder/login2.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <script src="/REPONIJOWEL/jsfolder/login.js"></script>
  
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
    input[type="email"],
    input[type="password"],
    input[type="text"] {
      width: 60%;
      padding: 10px 20px;
      border-radius: 60px;
      border: none;
      margin: 10px auto 20px auto;
      font-size: 1rem;
      display: block;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <img src="/REPONIJOWEL/ASSETS/imgFolder/schoolppp.png" alt="SPIST Building" class="background-img">
      <div class="overlay">
        <img src="/REPONIJOWEL/ASSETS/imgFolder/school-logo-large.png" alt="SPIST Logo" class="logo">
        <h1>Southern Philippines Institute<br>of Science & Technology <br>Library</h1>
      </div>
    </div>
    <div class="right-panel">
      <div class="right-panel-content">
        <div class="header-wrapper">
          <hr class="small-line">
          <h2>SPIST LIBRARY</h2>
        </div>
        <form onsubmit="handleSubmit(event)">
          <input type="email" placeholder="Email" required style="color: #489255;">
          <input type="password" id="password" placeholder="Password" required style="color: #489255;">
          <div class="options">

            <label><input type="checkbox" id="showPassword" style="color: #E6F0DC;"> Show Password</label>
            <a href="#" style="color: #F5F5DC;">Forgot Password</a>
          </div>
          <button type="submit">Log in as Admin</button>

          <a href="/REPONIJOWEL/components/modals/login4.html" class="signup" style="color: #F5F5DC; padding: 20px;">
            <i class="fas fa-sign-up-alt"></i> Dont Have An Account?
          </a>
        </form>

        <div class="socials">
          <a href="#" target="blank"><img src="/REPONIJOWEL/ASSETS/imgFolder/gmaili.png" alt="Gmail"/></a>
          <a href="https://www.facebook.com/spistofficial" target="blank"><img src="/REPONIJOWEL/ASSETS/imgFolder/facebookicon.png" alt="Facebook"/></a>
          <a href="https://www.instagram.com/spistofficial/?hl=en" target="blank"><img src="/REPONIJOWEL/ASSETS/imgFolder/igicon.png" alt="Instagram"/></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>