<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Adventures of Huckleberry Finn</title>
  <link rel="icon" type="image/png" href="/REPONIJOWEL/ASSETS/imgFolder/school-logo-large.png" />
  <link rel="stylesheet" href="/REPONIJOWEL/ASSETS/cssFolder/rentavailable.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <img src="/REPONIJOWEL/ASSETS/imgFolder/school-logo-large.png" alt="SPIST Logo" class="logo">
    <h1>Southern Philippines Institute of Science & Technology</h1>
  </header>

  <main class="container">
    <div class="maincontainer">
      
      <div class="leftpanel">
       <div class="imgcontainer"><img src="/REPONIJOWEL/ASSETS/imgFolder/book1.jpg" alt="booksimage" class="booksimg"></div>
        
       <div class="buttons">
        <button onclick="">Rent</button>
        <button onclick="">Avialable</button>
       </div> 
      </div>

       <div class="booksdetails">
          <h2>The Adventures of Huckleberry Finn</h2>
          <p class="description">
            Tells the story of a young boy, Huck Finn, who escapes his abusive father and travels <br>down the Mississippi River on a raft with a runaway slave named Jim, encountering <br>various characters and situations as they navigate the complexities<br>of pre-Civil War America, ultimately leading Huck to question societal norms<br> and develop a deep friendship with Jim despite the constraints of slavery.
          </p>
          <p class="summary">
            <strong>Adventures of Huckleberry Finn</strong> is a picaresque novel by American author Mark Twain that <br>was first published in the United Kingdom in December 1884 and in the <br>United States in February 1885.
          </p>
          <p><strong>Originally published:</strong> December 10, 1884</p>
          <p><strong>Author:</strong> <a href="#">Mark Twain</a></p>
          <p><strong>Genres:</strong>
            <a href="#">Novel</a>, <a href="#">Satire</a>, <a href="#">Humor</a>, 
            <a href="#">Adventure fiction</a>, <a href="#">Children's literature</a>, 
            <a href="#">Bildungsroman</a>, <a href="#">Picaresque novel</a>, 
            <a href="#">Robinsonade</a>
          </p>
          <p><strong>Characters:</strong>
            <a href="#">Huckleberry Finn</a>, <a href="#">Jim</a>, <a href="#">Tom Sawyer</a>, 
            <a href="#">Pap Finn</a>, <a href="#">Aunt Polly</a>, 
            <a href="#">Toad of Toad Hall</a>
          </p>
          <p><strong>Illustrator:</strong> E. W. Kemble</p>
          <p><strong>Pages:</strong> 362</p>
        </div>
        

    </div>
  </main>
</body>
</html>