<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/REPONIJOWEL/ASSETS/imgFolder/school-logo-large.png" />
  <link rel="stylesheet" href="/REPONIJOWEL/ASSETS/cssFolder/visioncss.css" />

  <!--  icons -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />

  <!--  Symbols -->
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />

  <!-- JavaScript -->
  <script src="/jsFolder/schooljs.js" defer></script>

  <title>Southern Philippines Institute of Science & Technology</title>
</head>

<body>
  <header class="primary-header flex">
    <div>
      <img src="/imgFolder/small.png" alt="SPiST Logo" class="logo" />
    </div>
    <nav>
      <ul class="primaryNavigation flex">
        <li>
          <a href="/REPONIJOWEL/components/pages/spistlibary.html ">
            <span class="material-symbols-outlined">home</span> Home
          </a>
        </li>
        <li>
          <a href="/REPONIJOWEL/components/pages/vision.html">
            <span class="material-symbols-outlined">star</span> Vision
          </a>
        </li>
        <li>
          <a href="/REPONIJOWEL/components/pages/aboutus.html">
            <span class="material-symbols-outlined">groups</span>About Us
          </a>
        </li>
        <li>
          <a href="/REPONIJOWEL/components/pages/contactus.html">
            <span class="material-symbols-outlined">call</span> Contact Us
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="mainsection">
      <div class="container">
       <div class="maincontent">
          <p class="visiontxt">VISION</p>
          <hr>
          <p class="vtxt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque pariatur labore quaerat ut rerum illum repudiandae in iusto exercitationem ipsam, cum accusamus quasi maxime tempora velit odit praesentium at consequuntur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptates porro dolore aliquam veritatis. Nobis repellat sit, hic quae eos nostrum esse incidunt. Exercitationem, sapiente recusandae? Sint ipsam reprehenderit similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptas tenetur quis harum enim voluptatem voluptatibus nesciunt impedit in et fugiat nisi, officia quibusdam optio, placeat possimus ratione perferendis cumque.
          </p>
       </div>
    </div>
   </main>
  
</body>
</html>